/**
* 通用css样式布局处理
*/

// 表单上面的操作按钮区域 和表单之间的距离
.app-actions-section {
  margin-bottom: 8px;
}

// 查询区域和 操作按钮区域的距离
.el-form .el-form-item {
  margin-bottom: 18px;
}

// 表单-操作按钮样式
.action-buttons-group {

  // 调整更多按钮与前一个按钮的间距
  .el-dropdown {
    margin-left: 12px; 
  }
}

// 表单-操作按钮样式
.action-more-dropdown {
  // 调整更多按钮与前一个按钮的间距
  margin-left: 8px; 
}
